doctype html
include mixins
+script('/js/jquery.min.js')
+script('/js/jquery-ui.min.js')

mixin menuItem( link, icon, text )
    li
        a(id="menu-#{link}",href="#{link}",title="#{text}")
            +fa(icon)
            span.hidden-xs
                |  
                = text

mixin gravatar( emailMd5, name, size, def )
    - def = def || "retro"
    img(src="http://www.gravatar.com/avatar/#{emailMd5}?s=#{size}&d=#{def}",alt="avatar of #{name}")&attributes(attributes)

html
    head
        title= title || "the Forth Net"
        meta(name="viewport",content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width")
        //- +style('/css/jquery-ui-smoothness.min.css')
        +style('/css/font-awesome.min.css')
        +style('/css/index.css')
        +styles
    body
        .wrapper
            div.navbar.navbar-fixed-top(role='navigation')
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="/",title="")
                            | theForthNet
                    ul
                        //+menuItem("/info",          "info-circle",  "About"     )
                        +menuItem("/packages",      "cube",         "Packages"  )
                        +menuItem("/tags",          "tags",         "Tags"  )
                        +menuItem("/users",         "users",        "Users"     )
                        +menuItem("/legacy-users",          "users",        "L-Users"     )
                        if loggedIn
                            +menuItem("/profile",    "user",         "Profile"     )
                            +menuItem("/logout",     "sign-out",     "Logout"    )
                        else
                            +menuItem("/profile",    "sign-in",      "Login/Sign up"     )

            div.container-fluid.main-content
                block content

        footer
            div.container-fluid
                div.row
                    div.col-xs-4
                        | powered by  
                        a(href='https://github.com/GeraldWodni/kern.js') kern.js
                    div.col-xs-8.text-right
                        | ©copyright 2014 by 
                        a(href='http://wodni.at') Gerald Wodni

        +script('/js/bootstrap.min.js')
        +scripts
