//- (c)2015 by Gerald Wodni

extends layout

mixin directory(subTree, dirName)
    li.directory(data-prefix=subTree.prefix,data-dirname=dirName)
        +fa("folder-open").fa-li
        = " " + dirName
        ul.fa-ul
            +dirTreeWalker( subTree )

mixin dirTree(tree)
    ul.fa-ul.filetree&attributes(attributes)
        +dirTreeWalker(tree)

mixin dirTreeWalker(tree)
    each subTree, dirName in tree.dirs
        +directory(subTree, dirName)
    each file in tree.files
        li.file
            a(href=file.link).pull-right
                | raw
            a(href=file.link.replace( version, version + "-view"))
                +fa("file").fa-li
                = " " + file.name

block content
    .container
        .row
            .col-md-6.col-lg-8
                h1.package
                    = packet.name
                    if version != "current"
                        |  
                        span.version= version
                h4.package= packet.description
                hr
                +dirTree( tree )
                hr
                .readme
                    if viewFormat == "none"
                        i= viewContent
                    else if viewFormat == "markdown"
                        != viewContent
                    else if viewFormat == "fs"
                        //- TODO: forth syntax highlighter
                        pre
                            = viewContent
                    else
                        pre
                            = viewContent

            .col-md-6.col-lg-4
                a(href="/~#{user.name}")
                    h2
                        | by 
                        = user.name
                    +gravatar( user.emailMd5, user.name, 32 )

                h3 Versions
                p
                    each version, index in versions
                        if index != 0
                            | , 
                        if version == packet.version
                            b= version
                        else
                            a(href="/package/#{packet.name}/#{version}")= version

                h3 Tags
                p
                    if packet.tags
                        each tag, index in packet.tags.split(/,/)
                            if index != 0
                                | , 
                            a(href="/tag/#{tag}")
                                = tag
                    else
                        i None

                h3 Dependencies
                i None
                h3 Dependents
                i None

